/* For more help, browse the devicetree documentation at https://docs.zephyrproject.org/latest/build/dts/index.html
 * You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension
 */

/ {
	zephyr,user {
		output-gpios = <&gpio1 0 0>;
		epd-gpios = <&gpio2 8 (1 << 9)>, <&gpio2 9 (1 << 9)>, <&gpio2 6 (1 << 9)>;
		epd-busy-gpios = <&gpio2 7 0>;
		epd-power-gpios = <&gpio0 4 0>;

		/delete-property/ p2_02-gpios;
	};
};

/delete-node/ &{/pin-controller/uart20_default/group2};

&i2c21 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c21_default>;
	pinctrl-1 = <&i2c21_sleep>;
	pinctrl-names = "default", "sleep";

	bq27220: fuel-gauge@55 {
		reg = <0x55>;
	};
};

&spi30 {
	status = "okay";
	max-frequency = <DT_FREQ_M(8)>;
	pinctrl-1 = <&spi30_sleep>;
	pinctrl-names = "default", "sleep";
};

&spi30_default {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 0, 0)>;
	};
};

&spi30_default {
	group2 {
		psels = <NRF_PSEL(SPIM_MOSI, 0, 1)>;
	};
};

&pinctrl {
	i2c21_default: i2c21_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 7)>, <NRF_PSEL(TWIM_SCL, 1, 8)>;
		};
	};

	i2c21_sleep: i2c21_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 7)>,
				<NRF_PSEL(TWIM_SCL, 1, 8)>;
			low-power-enable;
		};
	};

	spi30_sleep: spi30_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 0)>,
				<NRF_PSEL(SPIM_MOSI, 0, 1)>;
			low-power-enable;
		};
	};
};

&uart20 {
	status = "disabled";
};

&adc {
	status = "disabled";
};

&pwm20 {
	status = "disabled";
};

&pwm_led1 {
	status = "disabled";
};

&ieee802154 {
	status = "disabled";
};

&mx25r64 {
	status = "disabled";
};
